<header>
  <div class="logo"><a href="/" title="Giardiniere Potasiepe – Home page ufficiale">{% include logo.svg %}</a></div>
  <div class="searchbox" role="search" tabindex="-1">
    <form accept-charset="UTF-8" id="search" action="/cerca" method="get" class="search-form" target="_top">
    		<input type="search" name="q" class="search-text" placeholder="Cerca..." autocomplete="off" aria-label="Cerca..." title="Cerca..." data-tab="2">
        <input type="submit" value="" class="search-submit" aria-label="premi e inizia la ricerca">
    </form>
  </div>
</header>
{% include navigation.html %}
